# Xcode
.DS_Store
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
*.xcworkspace
!default.xcworkspace
xcuserdata
profile
*.moved-aside
DerivedData
.idea/
.build
Pods
*.lock
Android/bin/
Android/gen/
Android/libs/
Android/obj/
Android/assets/
Android/out/
WP8/ARM/
WP8/WP8/
WP8/Levitagram/obj/
WP8/packages/
WP8/release/
